<!--  vim: set ts=3:  -->
<link rel="import" href="polymer/polymer.html">
<link rel="import" href="i18n-msg/i18n-msg.html">
<link rel="import" href="i18n-msg/i18n-msg-behavior.html">
<link rel="import" href="paper-dialog/paper-dialog.html">
<link rel="import" href="paper-toolbar/paper-toolbar.html">
<link rel="import" href="paper-tabs/paper-tabs.html">
<link rel="import" href="paper-input/paper-input.html">
<link rel="import" href="paper-item/paper-icon-item.html">
<link rel="import" href="paper-item/paper-item-body.html">
<link rel="import" href="paper-tooltip/paper-tooltip.html">
<link rel="import" href="paper-button/paper-button.html">
<link rel="import" href="paper-toggle-button/paper-toggle-button.html" >
<link rel="import" href="paper-toast/paper-toast.html">
<link rel="import" href="paper-styles/color.html">
<link rel="import" href="iron-ajax/iron-ajax.html">
<link rel="import" href="iron-pages/iron-pages.html">
<link rel="import" href="paper-checkbox/paper-checkbox.html">
<link rel="import" href="iron-icons/iron-icons.html">
<link rel="import" href="iron-icons/communication-icons.html">
<link rel="import" href="iron-a11y-keys/iron-a11y-keys.html">

<dom-module id="sig-subscriber-add">
	<template>
		<style is="custom-style">
			paper-dialog {
				overflow: auto;
			}
			paper-input {
				--paper-input-container-focus-color: var(--paper-yellow-900);
			}
			paper-toolbar {
				margin-top: 0px;
				color: white;
				background-color: #bc5100;
			}
			paper-item-body {
				--paper-item-body-secondary: {
					font-weight: bold;
					font-size: larger;
				}
			}
			paper-toast.error {
				background-color: var(--paper-red-a400);
			}
			paper-toggle-button {
				--paper-toggle-button-checked-bar-color: #ffb04c;
				--paper-toggle-button-checked-button-color: var(--paper-yellow-900);
			}
			paper-checkbox {
				--paper-checkbox-checked-color: #ffb04c;
				--paper-checkbox-checkmark-color: var(--paper-yellow-900);
			}
			 .add-button {
				background-color: var(--paper-lime-a700);
				color: black;
				float: right;
				width: 8em;
			}
		</style>
		<paper-dialog id="addSubscriberProductModal" modal>
			<paper-toolbar>
				<h2>[[i18n.subProduct]]</h2>
			</paper-toolbar>
			<div>
				<paper-dropdown-menu
						id="addproductDrop10"
						on-selected-item-changed="_productSelected"
						label="Offers">
					<paper-listbox
							id="addproduct10"
							slot="dropdown-content"
							class="dropdown-content">
						<template is="dom-repeat" items="[[offers]]">
							<paper-item>
								{{item}}
							</paper-item>
						</template>
					</paper-listbox>
				</paper-dropdown-menu>
				<paper-tooltip>
					Select the offer.
				</paper-tooltip>
			</div>
			<div>
				<iron-a11y-keys id="a11y"
						target="[[target]]"
						keys="enter"
						on-keys-pressed="onEnter">
				</iron-a11y-keys>
				<paper-input
						id="addProductId1"
						name="product"
						label="Product Id">
				</paper-input>
				<paper-tooltip>
					Product Id.
				</paper-tooltip>
			</div>
			<div class="buttons">
				<paper-button
						dialog-dismiss
						class="cancel-button"
						 on-tap="productTapCancel"
						autofocus
						onclick="addServiceModal.close()">
				<i18n-msg msgid="cancel">
					Cancel
				</i18n-msg>
				</paper-button>
			</div>
		</paper-dialog>
	</template>
	<script>
		Polymer ({
			is: 'sig-subscriber-add',
			behaviors: [i18nMsgBehavior],
			properties: {
				offers: {
					type: Array,
					value: function() {
						return []
					}
				},
				target: {
					type: Object
				},
			},
			ready: function() {
				this.target = this.$.addProductId1;
			},
			_productSelected: function() {
				var product = this.offers[this.$.addproduct10.selected];
				if(product) {
					document.getElementById("AddUpdatePro").value = product;
					document.getElementById("subscriberAdd").product = product;
					document.getElementById("addServiceModal").open();
					document.getElementById("addSubscriberProductModal").close();
					this.$.addproduct10.selected = null;
				}
			},
			onEnter: function() {
				var productId = this.$.addProductId1.value;
				if(productId) {
					document.getElementById("AddUpdateProId").value = productId;
					document.getElementById("subscriberAdd").productId = productId;
					document.getElementById("addServiceModal").open();
					document.getElementById("addSubscriberProductModal").close();
					this.$.addProductId1.value = null;
				}
			},
			productTapCancel: function() {
				this.$.addProductId1.value = null;
			}
		});
	</script>
</dom-module>
